@import './styles/vars'

body 
    font-family: 'sofia-pro', sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a
    text-decoration: none

.wrapper
    margin: 0 auto
    width: 1200px
    display: flex

.close
    height: 16px
    width: 16px
    background-image: url("./img/icons/close.svg")

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
    -webkit-appearance: none
 
.input
    position: relative
    input
        padding: 12px 20px
        width: 100%
        box-sizing: border-box
        outline: none
        border: 2px solid $background-footer
        transition-duration: 0.4s
        &:focus, &:not(:placeholder-shown)
            border-color: $head
            ~ label
                color: $head
                top: -8px
                left: 19px
                padding: 0 4px
    label
        transition-duration: 0.4s
        background-color: $text-white
        color: $second
        position: absolute
        left: 22px
        top: 14px
        font-size: 14px

.button
    height: 60px
    width: 340px
    font-weight: 500
    font-size: 14px
    line-height: 24px
    color: $text-white
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    background-color: $head
    border: none
    transition-duration: 0.4s
    &:hover
        cursor: pointer
        background-color: $third  

.radio
    a
        height: 25px
        width: 25px
        border-radius: 50%
        background: $red
        border: 2px solid $text-white
    &.active
        border: 2px solid $head
    &::before 
            content: ""
            display: inline-block
            vertical-align: middle
            padding-top: 100%   
    .black
        background: $head !important
        
        